<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BackgroundNormal0.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal10.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal100.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal101.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal102.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal103.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal104.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal105.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal106.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal107.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal108.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal109.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal11.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal110.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal111.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal112.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal113.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal114.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal115.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal116.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal117.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal118.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal119.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal12.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal120.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal121.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal122.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal123.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal124.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal125.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal126.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal127.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal128.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal129.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal13.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal14.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal15.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal16.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal17.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal18.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal19.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal20.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal21.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal22.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal23.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal24.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal25.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal26.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal27.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal28.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal29.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal30.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal31.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal32.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal33.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal34.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal35.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal36.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal37.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal38.png</key>
			<dict>
				<key>frame</key>
				<string>{{3852,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal39.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal40.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal41.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal42.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal43.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal44.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal45.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal46.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal47.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal48.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal49.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal50.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal51.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal52.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal53.png</key>
			<dict>
				<key>frame</key>
				<string>{{3210,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal54.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal55.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal56.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal57.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal58.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal59.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal6.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal60.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal61.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal62.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal63.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal64.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal65.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal66.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal67.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal68.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal69.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal7.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal70.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal72.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal75.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal76.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal77.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal78.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal8.png</key>
			<dict>
				<key>frame</key>
				<string>{{5136,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,4706},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal86.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,4344},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,3982},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal88.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,3620},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal89.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,3258},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal9.png</key>
			<dict>
				<key>frame</key>
				<string>{{4494,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal90.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,2896},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal91.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,2534},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal92.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,2172},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal93.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1810},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal94.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1448},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal95.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1086},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal96.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,724},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal97.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,362},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal98.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,0},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

			<key>BackgroundNormal99.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,5068},{641,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,361}}</string>
				<key>sourceSize</key>
				<string>{641,361}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{5778,5430}</string>
			<key>textureFileName</key>
			<string>BackgroundNormal.png</string>
			</dict>
		</dict>
</plist>