<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ExplosionLandmine1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,459},{171,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,147}}</string>
				<key>sourceSize</key>
				<string>{171,147}</string>
			</dict>

			<key>ExplosionLandmine2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,0},{180,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,163}}</string>
				<key>sourceSize</key>
				<string>{180,163}</string>
			</dict>

			<key>ExplosionLandmine3.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,253},{208,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,205}}</string>
				<key>sourceSize</key>
				<string>{208,205}</string>
			</dict>

			<key>ExplosionLandmine4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{260,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,252}}</string>
				<key>sourceSize</key>
				<string>{260,252}</string>
			</dict>

			<key>ExplosionLandmine5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{256,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,247}}</string>
				<key>sourceSize</key>
				<string>{256,247}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{466,607}</string>
			<key>textureFileName</key>
			<string>ExplosionLandmine.png</string>
			</dict>
		</dict>
</plist>