<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FallingTree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,240},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree10.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,717},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree11.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,638},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree12.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,559},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree13.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,479},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree14.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,399},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree15.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,319},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree16.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,239},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree17.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,159},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree18.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,79},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree19.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,0},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,395},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree20.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,875},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree21.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,796},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree22.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,717},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree23.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,638},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree24.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,559},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree25.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,480},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree26.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,400},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree27.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,320},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree28.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,240},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree29.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,160},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree3.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,316},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree30.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,80},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree31.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree32.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,879},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree33.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,799},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree34.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,719},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree35.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,639},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree36.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,559},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree37.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,479},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree38.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,399},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree39.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,319},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree4.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,237},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree40.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,474},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree41.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,160},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree42.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,80},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree43.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree44.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,880},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree45.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,800},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree46.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,720},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree47.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,640},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree48.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,560},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree49.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,480},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree5.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,158},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree50.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,400},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree51.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,320},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree52.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,240},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree53.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,160},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree54.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,80},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree55.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree56.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,874},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree57.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,795},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree58.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,716},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree59.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,637},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree6.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,79},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree60.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,558},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree61.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,479},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree62.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,400},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree63.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,320},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree64.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,240},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree65.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,160},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree66.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,80},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree67.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree68.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree69.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{147,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{147,79}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree7.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree70.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,711},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree71.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree72.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree73.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree74.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree75.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree76.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,237},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree77.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree78.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree79.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree8.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,875},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

			<key>FallingTree9.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,796},{147,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{147,78}}</string>
				<key>sourceSize</key>
				<string>{154,87}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>FallingTree.png</string>
			</dict>
		</dict>
</plist>