<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>
			<key>EnemyPlaneBoss</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.4980 }</string>
				<key>fixtures</key>
				<array>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 376.500,34.106 }</string>	
								<string>{ 334.000,59.606 }</string>	
								<string>{ 20.000,52.606 }</string>	
								<string>{ 156.000,-4.394 }</string>	
								<string>{ 326.000,-0.394 }</string>
							</array>
							<array>	
								<string>{ 214.500,-26.894 }</string>	
								<string>{ 205.000,-9.394 }</string>	
								<string>{ 156.000,-4.394 }</string>	
								<string>{ 95.000,-21.394 }</string>	
								<string>{ 142.000,-41.394 }</string>	
								<string>{ 202.000,-39.394 }</string>
							</array>
							<array>	
								<string>{ -343.000,3.606 }</string>	
								<string>{ -313.500,-1.894 }</string>	
								<string>{ -236.000,-0.394 }</string>	
								<string>{ -166.000,45.606 }</string>	
								<string>{ -297.000,46.606 }</string>	
								<string>{ -351.500,32.106 }</string>
							</array>
							<array>	
								<string>{ 123.000,-79.394 }</string>	
								<string>{ 127.500,-51.894 }</string>	
								<string>{ 48.000,-41.394 }</string>	
								<string>{ 5.000,-61.394 }</string>	
								<string>{ 53.000,-80.394 }</string>
							</array>
							<array>	
								<string>{ 105.500,-36.894 }</string>	
								<string>{ 95.000,-21.394 }</string>	
								<string>{ 20.000,52.606 }</string>	
								<string>{ 12.000,-13.394 }</string>	
								<string>{ 48.000,-41.394 }</string>
							</array>
							<array>	
								<string>{ -296.000,143.606 }</string>	
								<string>{ -297.000,143.606 }</string>	
								<string>{ -318.500,137.106 }</string>	
								<string>{ -297.000,46.606 }</string>	
								<string>{ -166.000,45.606 }</string>	
								<string>{ -266.500,138.106 }</string>
							</array>
							<array>	
								<string>{ -127.000,128.606 }</string>	
								<string>{ 20.000,52.606 }</string>	
								<string>{ 204.000,58.606 }</string>	
								<string>{ -88.000,136.606 }</string>
							</array>
							<array>	
								<string>{ 20.000,52.606 }</string>	
								<string>{ 95.000,-21.394 }</string>	
								<string>{ 156.000,-4.394 }</string>
							</array>
							<array>	
								<string>{ -325.000,-18.394 }</string>	
								<string>{ -236.000,-0.394 }</string>	
								<string>{ -313.500,-1.894 }</string>
							</array>
							<array>	
								<string>{ 25.000,-89.394 }</string>	
								<string>{ -24.500,-70.894 }</string>	
								<string>{ -155.000,-98.394 }</string>
							</array>
							<array>	
								<string>{ -155.000,-98.394 }</string>	
								<string>{ -24.500,-70.894 }</string>	
								<string>{ 5.000,-61.394 }</string>	
								<string>{ 48.000,-41.394 }</string>	
								<string>{ 12.000,-13.394 }</string>
							</array>
							<array>	
								<string>{ 20.000,52.606 }</string>	
								<string>{ -166.000,45.606 }</string>	
								<string>{ -236.000,-0.394 }</string>	
								<string>{ 12.000,-13.394 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

