<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>2</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>SuicideBomberEnemy</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.6125,0.3625 }</string>
				<key>fixtures</key>
				<array>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

						</array>
					</dict>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ -1.400,13.100 }</string>
	
								<string>{ -5.900,4.600 }</string>
	
								<string>{ -4.400,-16.900 }</string>
	
								<string>{ 5.100,-5.400 }</string>
	
								<string>{ 4.600,10.100 }</string>

							</array>

							<array>
	
								<string>{ 11.100,-9.400 }</string>
	
								<string>{ 5.100,-5.400 }</string>
	
								<string>{ -4.400,-16.900 }</string>

							</array>

						</array>
					</dict>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ 10.600,-5.900 }</string>
	
								<string>{ 7.600,-6.900 }</string>
	
								<string>{ 6.600,-12.900 }</string>
	
								<string>{ 12.100,-8.400 }</string>

							</array>

							<array>
	
								<string>{ 1.100,-16.400 }</string>
	
								<string>{ 1.600,-9.900 }</string>
	
								<string>{ -5.900,4.600 }</string>
	
								<string>{ -4.400,-16.900 }</string>

							</array>

							<array>
	
								<string>{ 4.600,10.100 }</string>
	
								<string>{ -1.400,13.100 }</string>
	
								<string>{ -3.900,11.600 }</string>
	
								<string>{ -3.900,6.600 }</string>
	
								<string>{ 4.100,6.600 }</string>

							</array>

							<array>
	
								<string>{ 7.600,-6.900 }</string>
	
								<string>{ 5.100,-5.400 }</string>
	
								<string>{ 1.600,-9.900 }</string>
	
								<string>{ 4.600,-12.900 }</string>
	
								<string>{ 6.600,-12.900 }</string>

							</array>

							<array>
	
								<string>{ 1.600,-9.900 }</string>
	
								<string>{ 5.100,-5.400 }</string>
	
								<string>{ 6.100,4.600 }</string>
	
								<string>{ 4.100,6.600 }</string>
	
								<string>{ -3.900,6.600 }</string>
	
								<string>{ -5.900,4.600 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

