<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explosions_effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,514},{148,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,205}}</string>
				<key>sourceSize</key>
				<string>{148,205}</string>
			</dict>

			<key>explosions_effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,514},{256,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,292}}</string>
				<key>sourceSize</key>
				<string>{256,292}</string>
			</dict>

			<key>explosions_effect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,0},{310,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,331}}</string>
				<key>sourceSize</key>
				<string>{310,331}</string>
			</dict>

			<key>explosions_effect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{396,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{396,360}}</string>
				<key>sourceSize</key>
				<string>{396,360}</string>
			</dict>

			<key>explosions_effect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,361},{396,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{396,278}}</string>
				<key>sourceSize</key>
				<string>{396,278}</string>
			</dict>

			<key>explosions_effect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,332},{276,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,181}}</string>
				<key>sourceSize</key>
				<string>{276,181}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{803,807}</string>
			<key>textureFileName</key>
			<string>explosions_effect.png</string>
			</dict>
		</dict>
</plist>