<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LoadingIcon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,815},{279,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,114}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{279,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,944},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,585},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,936},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,819},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,702},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1053},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,468},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,351},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,234},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,827},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,349},{279,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1073},{277,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{277,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,117},{277,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon23.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,0},{277,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,117}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,118},{277,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,117}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon25.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,236},{277,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon26.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,355},{277,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon27.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,474},{277,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon28.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,593},{277,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,119}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon29.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,713},{277,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,119}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,465},{279,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon30.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,833},{277,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,119}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon31.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,953},{277,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{277,119}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon32.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,353},{278,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon33.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,234},{278,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon34.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,590},{278,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,118}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon35.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,709},{278,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,117}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon36.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,472},{278,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,117}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{279,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{279,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,115}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,117},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,698},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1046},{279,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{279,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

			<key>LoadingIcon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1061},{278,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{278,116}}</string>
				<key>sourceSize</key>
				<string>{291,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1116,1189}</string>
			<key>textureFileName</key>
			<string>LoadingIcon.png</string>
			</dict>
		</dict>
</plist>