<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CannonGame2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,289},{45,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,7},{45,90}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,289},{104,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,5},{104,94}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,96},{120,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{120,95}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,0},{124,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{124,95}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{122,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,20},{122,92}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,289},{43,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,45},{43,67}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{107,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,3},{107,95}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,192},{116,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{116,96}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,96},{121,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{121,96}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{126,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{126,96}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{126,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{126,95}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{126,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{126,96}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

			<key>CannonGame2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,193},{121,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{121,95}}</string>
				<key>sourceSize</key>
				<string>{126,112}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{370,384}</string>
			<key>textureFileName</key>
			<string>CannonGame2_.png</string>
			</dict>
		</dict>
</plist>