<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PlayerGame2Hands1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{53,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{53,21}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{53,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{53,24}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands11.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,23},{52,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{52,23}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands12.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,95},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{52,22}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands13.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{53,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{53,22}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{53,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{53,22}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands3.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,47},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{52,22}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands4.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,95},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{52,22}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{53,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,23}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{53,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{53,23}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands7.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,23},{52,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{52,23}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands8.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,70},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{52,24}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

			<key>PlayerGame2Hands9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,25},{53,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{53,24}}</string>
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{108,120}</string>
			<key>textureFileName</key>
			<string>PlayerGame2Hands.png</string>
			</dict>
		</dict>
</plist>