<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PlayerGame2Body0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,96},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,96},{39,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{39,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body10.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body11.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{39,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{39,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body12.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body13.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,96},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{39,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{39,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body4.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,96},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{38,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body5.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,97},{39,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{39,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{39,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{39,95}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{39,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{39,96}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body8.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,96},{39,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{39,96}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

			<key>PlayerGame2Body9.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{39,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{39,96}}</string>
				<key>sourceSize</key>
				<string>{43,97}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{277,193}</string>
			<key>textureFileName</key>
			<string>PlayerGame2Body.png</string>
			</dict>
		</dict>
</plist>